<h1>Create a Comicbook Review</h1>

<% if @review.comicbook %>
<h1>New Review for <%= @review.comicbook.title%></h1>
<% else %>
<h1>New Review!</h1>
<% end %>

<%= form_for([@review.comicbook, @review]) do |f|%>

<% if @review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@review.errors.count, "error") %> prohibited this Review from being saved:</h2>

  <ul>
    <% @review.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :rating %>
  <%= f.select(:rating, [1,2,3,4,5], :prompt => 'Rating (1-5)') %>
</div>

<div class="field">
  <%= f.label :comment %>
  <%= f.text_area :comment %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>